/* You can add global styles to this file, and also import other style files */
/* 10: Including a theme from angular material*/
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%; /* allows the full page view */
}

body {
	margin: 0;

}
